**/bin/**
**/obj/**
**/node_modules/**
**/dist/**
**/coverage/**
**/.vs/**
**/.idea/**
**/TestResults/**
package-lock.json
*.sln
*.cs
*.csproj
*.props
*.targets
*.lock.json

**/MVP_PostgreSQL_18_Master.sql
